<p style="color: green"><%= notice %></p>

<h1>Home page</h1>

<!-- <div id="home_pages">
  <% @home_pages.each do |home_page| %>
    <%= render home_page %>
    <p>
      <%= link_to "Show this home page", home_page %>
    </p>
  <% end %>
</div> -->
